@{
    ViewData["Title"] = "Security";
}
<h1 class="securitypolicy">@ViewData["Title"]</h1>

<div class="securitypolicy">
    <ol>
        <li>
            Мы не несем никакой ответственности за любую информацию, которой вы делитесь на этой платформе.
        </li>
        <li>
            Если вы хотите удалить свою учетную запись, обратитесь к разработчику.
        </li>
    </ol>
</div>